body
{
	background-image: linear-gradient(to right, #7190f7, #0c32af);
	background-repeat: none;
}

h1
{
	text-align: center;
}

h2
{
	text-align: center;
}

p
{
	color: red;
}

input
{
	background-color: #04ede9;
	color: black;
	border: 1px solid white;
	margin-left: 40%;
	margin-top: 1%;

	width: 20%;
	padding: 10px;
}

input:hover
{
	background-color: white;
	color: black;
	border-radius: 1px solid;
	border-color: black;

	margin-left: 40%;
	margin-top: 1%;

	width: 20%;
	padding: 10px;
}